@import "tailwindcss";

@font-face {
  font-family: "Segoe UI";
  src: url("fonts/segoeuithis.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("fonts/segoeuithibd.ttf");
}

@font-face {
  font-family: "CMUSerif";
  src: url("fonts/cmunrm.ttf");
}

@font-face {
  font-family: "CMU Bold";
  src: url("fonts/cmunbx.ttf");
}


@layer components {
  .text-outline {
    paint-order: stroke fill;
    -webkit-text-stroke: 1.5px black;
  }
}

body {
  font-family: "Segoe UI", sans-serif;
}